{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{% static 'about/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">

</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="{% url 'home'%}">Harsha_vrdn</a>
        </div>
        <div class="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item"><a href="{% url 'home'%}">Home</a></li>
            <li class="nav-item"><a href="#">About</a></li>
            <li class="nav-item"><a href="{%url 'projects'%}">Projects</a></li>
            <li class="nav-item"><a href="static/pdf/Harsha_resume.pdf" target="_blank">View Resume</a></li>
            <li class="nav-item"><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>
    <div class="about-container-main">
        <section id="about">
            <p class="section__text__p1">Get To Know More</p>
            <h1 class="title">About Me</h1>
            <div class="section-container">
              <div class="section__pic-container">
                <img
                  src="{% static 'images/profilepic2.png' %}"
                  alt="Profile picture"
                  class="about-pic"
                />
              </div>
              <div class="about-details-container">
                <div class="about-containers">
                  <div class="details-container">
                    <img
                      src="{% static 'images/experience.png' %}"
                      alt="Experience icon"
                      class="icon"
                    />
                    <h3>Experience</h3>
                    <p>1 year<br/>HR manager</p>
                  </div>
                  <div class="details-container">
                    <img
                      src="{% static 'images/education.png' %}"
                      alt="Education icon"
                      class="icon"
                    />
                    <h3>Education</h3>
                    <p>B.Tech Mechanical engineering<br />Tezpur University</p>
                  </div>
                </div>
                <div class="text-container">
                  <p class="about-text">
                    As a self-taught full stack developer with a strong proficiency in the Django stack, I bring a unique blend of skills and experiences to the table. With over a year of non-technical professional experience, I have seamlessly transitioned into the realm of software development, consistently updating my skill set and eagerly embracing new learning opportunities. I am now seeking a challenging role in the software industry where I can apply my expertise and continue to grow.
                  </p>
                </div>
              </div>
            </div>
          </section>
          <section id="experience-container">
            <h1 class="title">My Experience</h1>
            <div class="section-container">
              <div class="about-details-container-2">
                <div class="text-container-2">
                  <h2>DPR solutions Inc (Oct 2022 - April 2024)</h2>
                  <u><h3>HR Manager</h3></u>
                  <ul>
                    <li>Managed end-to-end sourcing of qualified IT consultants for diverse projects.</li>
                    <li>Cultivated and maintained strong relationships with clients, including staffing companies and consulting firms.</li>
                    <li>Analysed job requirements to effectively match consultants with technical and skill set needs.</li>
                    <li>Conducted comprehensive screenings and interviews to assess consultant skills, experience, and cultural fit.</li>
                    <li>Facilitated the resume submission process, ensuring timely feedback and negotiation of placement deals.</li>
                    <li>Provided ongoing support to consultants throughout the hiring process, including interview preparation, offer negotiation, and onboarding assistance.</li>
                </ul>
                </div>
              </div>
              <div class="section__pic-container">
                <img
                  src="{% static 'images/experience-pic.jpg' %}"
                  alt="Profile picture"
                  class="about-pic"
                  style="padding-top: 30px;"
                />
              </div>
            </div>
          </section>
    </div>
    <footer style="padding-top: 30px;">
    </footer>
    <script src="{% static 'home/js/scripts.js' %}"></script>
</body>
</html>
